.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.mainbox{
    width: 1728px;
    height:100vh;
    border: 1px solid blue;
}
