.container{
    
}

.text{
    text-align: center;
    justify-content: center;
}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.inputBox{
    width: 20rem;
    height:4em;
}

.button{
    width : 20rem;
    height: 3rem;
    margin: 10px;
}

.checkValidContainer{
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
}

.checkValidBtn{
    cursor: pointer;
}

